<li>
  <a href="{{ post_url }}" class="post-card-link">
    <div class="post-card-img-wrap">
      {% if post.img %}
        <img class="post-card-img" src="{{ site.baseurl }}/assets/img/{{ post.img }}" alt="{{ post.title }} thumbnail" />
      {% else %}
        <img class="post-card-img" src="{{ site.baseurl }}/assets/img/placeholder.jpg" alt="Placeholder image" />
      {% endif %}
    </div>
    <div class="post-card-info">
      <span class="post-card-title">{{ post.title }}</span>
      {% if post.excerpt %}
        <span class="post-card-excerpt">{{ post.excerpt | strip_html | truncatewords: 18 }}</span>
      {% endif %}
      <span class="post-card-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
        •
        {% assign words = post.content | strip_html | number_of_words %}
        {% assign reading_time = words | divided_by: 200 | plus: 1 %}
        {{ reading_time }} min read
      </span>
      {% if post.tags and post.tags.size > 0 %}
      <span class="post-card-tags">
        {% for tag in post.tags limit:2 %}
          <span class="post-card-tag">{{ tag }}</span>
        {% endfor %}
      </span>
      {% endif %}
    </div>
  </a>
</li>
